.team-logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.league-table {
  tbody {
    tr:nth-child(-n+4) {
      td {
        background-color: rgba(62, 163, 232, 0.27);
      }
    }

    tr:nth-last-child(-n+3) {
      td {
        background-color: rgba(232, 86, 60, 0.27);
      }
    }

    tr:nth-child(5) {
      td {
        background-color: rgba(189, 153, 30, 0.27);
      }
    }

    tr:nth-child(1) {
      td {
        background-color: rgba(62, 124, 232, 0.4);
      }
    }
  }
}