body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.warning-text {
  color: red !important;
}

.success-text {
  &.text-dark {
    color: #00ff39 !important;
  }

  &.text-light {
    color: #004ad6de !important;
  }
}